<div class="ui large inverted menu no-rounded-corner">
  <div class="ui container">
    <%= link_to "Chatroom", root_path, class: "item", id: "home" %>
    <div class="right menu">
      <% if logged_in? %>
        <div class="ui dropdown item">  
          <div class="user-color userid<%=current_user.id%> ui inverted <%= current_user.color %> button">
            <%= current_user.username %>
          </div>          
          <i class="dropdown icon"></i>  
          <div class="menu">
            <%= link_to "Profile", edit_user_path(current_user), class: "item", id: "profile-button" %>
            <%= link_to "Logout", logout_path, class: "item", data:{ turbo_method: :delete}, id: "logout" %>
          </div>        
        </div>
      <% else %>
        <div class="item">
          <%= link_to "Log in", login_path, class: "ui inverted primary button", id: "login" %>
        </div>
        <div class="item">
           <%= link_to "Sign Up", signup_path, class: "ui primary button", id: "signup" %>
        </div>
      <% end %>
    </div>
  </div>
</div>